.sample {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .render {
    display: flex;
  }

  .result {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 10px 0;
    min-width: 900px;
  }

  .buttons {
    display: flex;

    div {
      flex: 1;
    }
  }

  .debug {
    background-color: #282828;
    color: #fff;
    padding-left: 10px;

    .props {
      font-size: 80%;
      padding-bottom: 10px;
      padding-left: 10px;
    }

    h2 {
      font-size: 90%;
      margin-bottom: 5px;
    }
  }

  a {
    flex: 1;
    position: relative;
    text-decoration: none;
  }

  pre {
    margin: 0;
  }
}
